<ng-container *ngIf="appService.loaded">
  <div class="app-container {{ environment.platform }}">
    <nwplay-toolbar></nwplay-toolbar>
    <nwplay-player></nwplay-player>
    <div class="page-view">
      <router-outlet></router-outlet>
    </div>
    <div class="provider-info-overlay">
      <span *ngIf="appService.loadingMessage">
        {{ appService.loadingMessage }}
      </span>
      <ng-container *ngFor="let prog of appService.loadingProgress">
        <span>{{prog}}</span>
      </ng-container>
    </div>
  </div>
</ng-container>
<nwplay-welcome *ngIf="!appService.loaded"></nwplay-welcome>
