h2 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 5px;
  padding: 25px;
  font-size: 3rem;
  margin: 0 0 15px;
}

h3 {
  width: 100%;
  padding-left: 16px;
  color: #fff;
  box-sizing: border-box;
}

p {
  width: 100%;
  padding: 15px;
  color: #909090;
  box-sizing: border-box;
}

mat-radio-button {
  margin-right: 16px;
}

:host ::ng-deep .mat-list-item .mat-select,
:host ::ng-deep .mat-list-item .mat-input-element {
  max-width: 25%;

}


:host ::ng-deep .mat-list-item {
  border-bottom: rgba(255,255,255,0.1) 1px solid;
}

.dynamic_delete {
  position: absolute;
  right: 48px;
  top: 7px;
  bottom: 7px;
}

.settings-list {
  li {
    color: #fff;
    display: flex;
    flex-direction: row;
    padding: 7px 15px;

    &:nth-child(odd) {
      background-color: rgba(255, 255, 255, 0.15);
    }

    .name {
      flex-grow: 1;
    }

    .actions {
      * {
        margin-left: 7px;
      }
    }
  }
}

.search-filter {
  width: 150px;
  padding: 10px;
  border-radius: 7px;
  border: none;
  background: #ffffff78;
  float: right;
  margin-top: 10px;
}

.settings-container {
  padding: 25px;
  height: 100%;
  overflow: scroll;
  background-color: #252525;
}

.plugin-settings {
  .plugin-name {
    font-size: 1.5rem;
    padding: 15px;
  }
}

.mat-dialog-title {
  margin: 25px;
}
