<div mat-dialog-title>{{ 'settings' | translate }}</div>


<div class="settings-container">
  <mat-tab-group [dynamicHeight]="true">
    <mat-tab label="{{ 'generally' | translate }}">
      <mat-selection-list (selectionChange)="setValue($event)">
        <mat-list-option [selected]="settingsService.autoplayTrailer" value="autoplayTrailer">
          {{ 'trailer_autoplay' | translate }}
        </mat-list-option>
        <mat-list-option [selected]="settingsService.autoCropTrailer" value="autoCropTrailer">
          {{ 'trailer_autocrop' | translate }}
        </mat-list-option>

        <mat-list-option [selected]="settingsService.showAdult" value="showAdult">
          {{ 'show_adult_content' | translate }}
        </mat-list-option>

        <mat-list-option [selected]="settingsService.openItemWithModal" value="openItemWithModal">
          {{ 'openItemWithModal' | translate }}
        </mat-list-option>

        <mat-list-option [selected]="settingsService.disableVibrancy" value="disableVibrancy">
          {{ 'disableVibrancy' | translate }}
        </mat-list-option>

        <mat-list-item>
          <div class="mat-list-text">{{ 'language' | translate }}</div>
          <mat-select
            (ngModelChange)="settingsService.save(); translate.use($event)"
            [(ngModel)]="settingsService.defaultLang"
            placeholder="Sprache"
          >
            <mat-option *ngFor="let lang of translate.langs" [value]="lang">
              {{ lang | translate }}
            </mat-option>
          </mat-select>
        </mat-list-item>

        <mat-list-item>
          <div class="mat-list-text">{{ 'prefered_quality' | translate }}</div>
          <mat-select
            (ngModelChange)="settingsService.save()"
            [(ngModel)]="settingsService.preferredVideoQuality"
            placeholder="{{ 'language' | translate }}"
          >
            <mat-option [value]="VIDEO_QUALITY.HD">{{ 'high' | translate }}</mat-option>
            <mat-option [value]="VIDEO_QUALITY.MD">{{ 'medium' | translate }}</mat-option>
            <mat-option [value]="VIDEO_QUALITY.SD">{{ 'low' | translate }}</mat-option>
          </mat-select>
        </mat-list-item>
        <mat-list-item>
          <button (click)="clearCache()" color="primary" mat-raised-button>
            {{ 'clear_application_cache' | translate }}
          </button>
          <button (click)="resetApp()" color="primary" mat-raised-button style="margin-left: 15px;">
            {{ 'reset' | translate }}
          </button>
        </mat-list-item>
      </mat-selection-list>
    </mat-tab>
    <mat-tab label="{{ 'playback' | translate }}">
      <mat-selection-list (selectionChange)="setValue($event)">
        <mat-list-option [selected]="settingsService.autoplay" value="autoplay">
          {{ 'autoplay' | translate }}
        </mat-list-option>
        <mat-list-option
          (selectionChange)="settingsService.save()"
          [(selected)]="settingsService.scrollVol"
          value="scrollVol"
        >
          {{ 'scroll_to_change_volume' | translate }}
        </mat-list-option>

        <mat-list-option
          (selectionChange)="settingsService.save()"
          [(selected)]="settingsService.continue"
          value="continue"
        >
          {{ 'player_autoresume' | translate }}
        </mat-list-option>

        <mat-list-item>
          <div class="mat-list-text">{{ 'subtitle_language' | translate }}</div>
          <mat-select
            (ngModelChange)="settingsService.save()"
            [(ngModel)]="settingsService.subtitleLanguage"
            placeholder="{{ 'language' | translate }}"
          >
            <mat-option *ngFor="let lang of translate.langs" [value]="lang">
              {{ lang | translate }}
            </mat-option>
          </mat-select>
        </mat-list-item>
        <mat-list-item>
          <div class="mat-list-text">{{ 'audio_language' | translate }}</div>
          <mat-select
            (ngModelChange)="settingsService.save()"
            [(ngModel)]="settingsService.audioLanguage"
            placeholder="{{ 'language' | translate }}"
          >
            <mat-option *ngFor="let lang of translate.langs" [value]="lang">
              {{ lang | translate }}
            </mat-option>
          </mat-select>
        </mat-list-item>
      </mat-selection-list>
    </mat-tab>

    <mat-tab label="{{ 'extensions' | translate }}">
      <button (click)="installProvider()" color="primary" mat-stroked-button
              style="margin-bottom: 15px;margin-top: 15px;">
        {{ 'add_extensions' | translate }}
      </button>
      <mat-list role="list">
        <mat-list-item *ngFor="let plugin of appService.installedPlugins" role="listitem">
          <mat-icon mat-list-icon>widgets</mat-icon>
          <div mat-line>{{plugin.name}}</div>
          <div mat-line> {{plugin.version}} </div>
          <button (click)="showPluginSettings(plugin)" color="primary" mat-stroked-button>
            {{ 'settings' | translate }}
          </button>
        </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="{{ 'resolver' | translate }}">

      <mat-list cdkDropList (cdkDropListDropped)="drop($event)">
        <div mat-subheader>Favoriten</div>
        <mat-list-item *ngFor="let provider of extractorService.favorites" cdkDrag>
          <mat-icon mat-list-icon>star</mat-icon>
          <div mat-line>{{provider.name}}</div>
          <div mat-line>{{provider.version}}</div>
          <button mat-button (click)="extractorService.removeFavorite(provider);ref.detectChanges()">-</button>
        </mat-list-item>
      </mat-list>

      <mat-form-field class="example-full-width">
        <mat-label>Suchen</mat-label>
        <input  (input)="filterExtractors($event)" matInput placeholder="Suchen" value="">
      </mat-form-field>
      <mat-list>
        <div mat-subheader>Andere {{ 'resolver' | translate }}</div>
        <mat-list-item *ngFor="let provider of extractorsFiltered">
          <mat-icon mat-list-icon>widgets</mat-icon>
          <div  mat-line>{{provider.name}}</div>
          <div mat-line>{{provider.version}}</div>
          <button mat-button (click)="extractorService.addFavorite(provider);ref.detectChanges()">+</button>
        </mat-list-item>
      </mat-list>

    </mat-tab>
    <mat-tab label="{{ 'about' | translate }} {{ env.pkg.productName }}">
      <p style="text-align: center;">{{ env.pkg.productName }} is a OpenSource Cross-platform Cloud Media Player.</p>
      <!--<p style="text-align: center;">
        <br/>
        <img alt="" height="45px" src="https://blockchain.info/Resources/buttons/donate_64.png"/>
        <br/>
        {{ 'donate_bitcoin' | translate }}
        <br/>

      </p>-->
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template let-plugin #pluginSettingItem>
  <mat-list-item *ngFor="let setting of plugin.settings">
    <ng-container [ngSwitch]="setting.type">
      <div *ngSwitchCase="'input'">
        <div mat-line>{{setting.label}}</div>
        <input [(ngModel)]="setting.value"/>
      </div>
      <div *ngSwitchCase="'button'">
        <button mat-stroked-button (click)="setting.click()">{{setting.label}}</button>
      </div>
      <div *ngSwitchCase="'checkbox'">
        <div mat-line>{{setting.label}}</div>
        <input type="checkbox" [(ngModel)]="setting.value"/>
      </div>
    </ng-container>
  </mat-list-item>

</ng-template>

<ng-template let-modal #pluginSettings>

  <div mat-dialog-title>{{ modal.pluginInfo?.name}}</div>

  <div class="settings-container">
    <mat-list>
      <ng-container *ngFor="let provider of modal.pluginInfo.providers">
        <ng-container *ngTemplateOutlet="pluginSettingItem; context:{$implicit: provider}"></ng-container>
      </ng-container>
      <ng-container *ngFor="let provider of modal.pluginInfo.extensions">
        <ng-container *ngTemplateOutlet="pluginSettingItem; context:{$implicit: provider}"></ng-container>
      </ng-container>
      <ng-container *ngFor="let provider of modal.pluginInfo.extractors">
        <ng-container *ngTemplateOutlet="pluginSettingItem; context:{$implicit: provider}"></ng-container>
      </ng-container>
    </mat-list>
    <button mat-button (click)="removeProvider(modal.pluginInfo)">{{'remove_extensions' | translate}}</button>
  </div>
</ng-template>
