@import '../../../vars.scss';

:host {
  .media-card {
    border-radius: 6px;
    overflow: hidden;
    user-select: none;
    width: 150px;
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #151515;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    float: left;
    position: relative;
    outline: none;
    transition: all 0.3s ease-in-out;

    .progress {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 4px;
      z-index: 999;

      div {
        height: 100%;
        float: left;
        background-color: $accent-color;
      }
    }

    &.thumb {
      height: 150px;
      width: 250px;
    }

    img.pimage {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      object-position: center center;
      z-index: 2;
      pointer-events: none;
    }

    .bimage-container {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      display: none;

      img.bimage {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        object-position: center center;
        z-index: 1;
      }
    }

    .title-container {
      @include vibrancy-dark-mixin();

      &.fav {
        @include vibrancy-dark-mixin(rgba($accent-color, 0.75));
      }

      z-index: 30;
      text-align: center;
      width: 100%;
      color: white;
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 13px;
      align-self: flex-end;
      padding: 12px 7px;
      box-sizing: border-box;
      position: absolute;
      transition: all 0.2s ease-in-out;

      .title {
        -webkit-line-clamp: 1;
        line-clamp: 1;
        overflow: hidden;
      }
    }

    .mat-badge-active {
      background-color: $accent-color !important;
      z-index: 3;
    }

    .more {
      position: absolute;
      top: 0;
      right: 0;
      padding: 8px;
      z-index: 90;
      color: $accent-color;
    }
  }
}
