<div
  (click)="itemService.show(item, this.showAsModal)"
  (contextmenu)="showContextMenu($event)"
  *ngIf="item"
  class="media-card {{ item.size }}"
  tabindex="{{ tabIndex }}"
  title="{{ item.title }}"
>
  <div class="title-container {{ !isWatchlist && isFavorite ? 'fav' : '' }}">
    <div class="title">{{ item.title }}</div>
  </div>
  <div (click)="$event.stopPropagation(); showMenu()" *ngIf="!item.hideContext" class="more">
    <mat-icon>more_vert</mat-icon>
  </div>
  <img
    (error)="imageErrorHandler()"
    *ngIf="item.image && !noImage"
    alt=""
    class="pimage"
    loading="lazy"
    referrerpolicy="no-referrer"
    src="{{ item.image }}"
  />
  <div *ngIf="smallImage" class="bimage-container">
    <img class="bimage" referrerpolicy="no-referrer" src="{{ item.image }}"/>
  </div>

  <img
    *ngIf="!item.image || noImage"
    alt=""
    class="pimage"
    loading="lazy"
    referrerpolicy="no-referrer"
    src="https://source.unsplash.com/600x400/?movie"
  />
  <div *ngIf="item.progress" class="progress">
    <div [ngStyle]="{width: (item.progress * 100) + '%'}"></div>
  </div>
</div>
