@import '../../../vars.scss';

.spinner {
  position: relative;
}

.loading {
  padding-top: 50px;

  div {
    margin-bottom: 5px;
  }
}

.container {
  overflow: hidden !important;
  position: absolute;
  background-color: #000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin-bottom: 16px;
  }

  .licence {
    align-self: center;
    justify-self: center;
    width: 100%;
    max-height: 35vh;
    overflow: auto;
    margin-bottom: 25px;
    -webkit-overflow-scrolling: touch;
    font-size: 0.9rem;
    white-space: pre;
    border: 1px solid #fff;
    color: #fff;
    border-radius: $item-border-radius;
    @include nwp-scroller();

    ::ng-deep li {
      display: inline;
    }
  }

  button {
    margin-left: 8px;
    margin-right: 8px;
  }

  .center {
    padding: 30px;
    text-align: center;
    width: 75vw;
    max-width: 925px;
    color: #fff;
    //noinspection CssInvalidPropertyValue
    -webkit-font-smoothing: auto;

    .logo {
      img {
        height: 115px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.50);
        border-radius: 18px;
      }

      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 25px;

      .logo-text {
        text-align: left;
        margin-left: 13px;
        display: flex;
        flex-direction: column;

        .logo-name {
          font-size: 3rem;
        }

        .logo-text {
          font-size: 2rem;
        }
      }
    }
  }
}

mat-selection-list {
  text-align: start !important;
  color: #666;
}

:host ::ng-deep {
  .mat-list-item,
  mat-pseudo-checkbox {
    color: #666;
  }

  .md-t-1 {
    font-size: 2rem !important;
  }

  .md-t-2 {
    font-size: 1.4rem !important;
  }

  .md-t-3 {
    font-size: 1.2rem !important;
    font-weight: bold;
  }
}
