@import '../../../vars.scss';

.bg-container {
  overflow: hidden !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  z-index: -1;

  .bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
  }
}

.center {
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  height: min-content;
  max-height: 75vh;
  width: 50vw;
  max-width: 800px;
  overflow: auto;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  h1 {
    padding: 25px;
    margin: 0;
    font-size: 2rem;
    color: #fff;
  }
  p {
    margin-bottom: 25px;
    color: #fff;
  }

}
